<div *ngIf="IsLoggedFromNav" class="background-chat ">
    <div class="chat-container">
        <div class="chat-title">
            <span>Chat Publico</span>
            <i class="fa fa-trash fa-2x"></i>
        </div>
        
        <div class="chat-message-list">
            
        </div>

        <div class="chat-form">
            <i class="fa fa-paperclip fa-4x"></i>
            <textarea type="text" placeholder="Digite algo ..." maxlength="300"></textarea>
        </div>
    </div>
</div>
