<div *ngIf="IsLoggedFromNav" class="background-chat ">
    <div class="chat-container">
        <div class="chat-title">
            <span>Chat Publico</span>
            <i class="fa fa-trash fa-2x"></i>
        </div>

        <div class="chat-message-list">
            <div class="message-row self-message">
                <div class="message-content">
                    <div class="message-text">Ola sou o eu
                        as mensagem n devme ta quebrando tanto aqui
                        por isso vou adicionar
                        uns texto
                        para testar isso ne pq n da pra saber direito se n quebrar
                    </div>
                    <div class="message-date">16 April</div>
                </div>
            </div>
            <div class="message-row other-message">
                <div class="message-content">

                    <img class="" src="../../assets/images/profile.svg" alt="">

                    <div class="message-text">Ola sou o Fulano
                        fazendo um teste
                        pra ver
                        se as mensagem
                        quebra né
                        pois bem pelo visto nao estao quebrando hehe
                        na verdade estao sim maluco
                    </div>
                    <div>fulano</div>
                    <div class="message-date">16 April</div>
                </div>
            </div>
        </div>
        <div class="chat-form">
            <i class="fa fa-paperclip fa-4x"></i>
            <textarea type="text" placeholder="Digite algo ..." maxlength="300"></textarea>
        </div>
    </div>
</div>