.background-chat {
    background: linear-gradient(to right, #478eaa, #246fa8 100%);
    min-height: 100vh;
    min-width: 100vw;
    font-size: 10px;
    position: fixed;
}

.chat-container {
    background: #fff;
    height: 85vh;
    width: 90vw;
    border-radius: 10px;
    margin: 20px auto;
    grid: 'chat-title' 61px
    'chat-message-list' 1fr
    'chat-form' 70px; 
    display: grid;
}

.chat-title {
    grid-area: chat-title;
    background: #eee;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid: 36px / 1fr 50px;
    align-content: center;
    align-items: center;
    color: #0048aa;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0px 20px;
}

.chat-title > i {
    cursor: pointer;
}
.chat-message-list {
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 2vw;
    overflow-y: scroll;
    margin-top: 5px;
}

.message-content img {
    align-items: center;
    align-content: center;
    padding-top: 25px;
    border-radius: 100%;
    width: 35px;
}

.message-content {
    display: grid;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message-text {
    padding: 14px 9px;
    font-size: 1.0rem;
    margin-bottom: 5px;
}

.message-date {
    font-size: 0.7rem;
    color: #777;
}

.self-message {
    justify-items: end;
    justify-content: end;
}
.other-message {
    justify-items: start;
    justify-content: start;
}

.other-message .message-content {
    grid-template-columns: 48px 1fr;
}

.self-message .message-text {
    background: green;
    color: black;
    border-radius: 14px 14px 0 14px;
    border: 1px solid green;
}

.other-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #eee;
    border-radius: 14px 14px 14px 0px;
}

.chat-form {
    display: grid;
    grid: 51px/ 52px 1fr;
    background: #eee;
    border-radius: 0 0 10px 10px;
    grid-area: chat-form;
    padding-left: 22px;
    padding-right: 22px;
    align-content: center;
}

.chat-form textarea {
    outline: none;
    padding: 5px 10px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 8px;
    font-size: 0.8rem;
    word-wrap: break-all;
    resize: none;
}

.chat-form > i {
    cursor: pointer;
}

